* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.profile-info {
  margin-top: 250px;
  margin-bottom: -130px;
}

.profile-info-h1{
  text-align: center;
  margin-bottom: 3rem;
  font-weight: 400;
  font-size: 40px;
}

.profile-ul{
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}

.profile-info-ul {
  list-style: none;
  text-align: center;
}

.profile-info-li {
  font-weight: 600;
}