@import url('https://fonts.googleapis.com/css?family=Open+Sans');

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.slider-body {
  font-family: 'Open Sans', sans-serif;
  height: 100vh;
}

.slider-container {
  position: relative;
  overflow: hidden;
  width: 100%;
  height: 100vh;
  margin-top: 4.2rem;
  box-shadow: 10px 2px 10px rgba(0, 0, 0, 0.3);
}

.left-slide {
  height: 100%;
  width: 35%;
  position: absolute;
  top: 0;
  left: 0;
  transition: transform 0.5s ease-in-out;
}

.left-slide > div {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: #fff;
}

.left-slide h1 {
  font-size: 40px;
  margin-bottom: 10px;
  margin-top: -30px;
}

.right-slide {
  height: 100%;
  position: absolute;
  top: 0;
  left: 35%;
  width: 65%;
  transition: transform 0.5s ease-in-out;
}

.right-slide > div {
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  height: 100%;
  width: 100%;
}

.vertical-button {
  background-color: #fff;
  border: none;
  color: #aaa;
  cursor: pointer;
  font-size: 16px;
  padding: 15px;
}

.vertical-button:hover {
  color: #222;
}

.vertical-button:focus {
  outline: none;
}
.path {
  margin-top: 10px;
  background-color: #fff;  
  border: none;
  color: #c0392b;
  cursor: pointer;
  font-size: 16px;
  padding: 15px;
  border-radius: 50px;
  font-weight: bolder;
  letter-spacing:.6px;
  /* border: 2px solid #c0392b; */
}

.path:hover {
  color:  #fff;
 background :none ; 
 background-color: #c0392b;  

  border-radius: 50px;
  font-weight: bolder;
  letter-spacing:.8px;
}

.path:focus {
  outline: none;
}

.slider-container .action-buttons button {
  position: absolute;
  left: 35%;
  top: 50%;
  /* z-index: 100; */
}

.slider-container .action-buttons .down-button {
  transform: translateX(-100%);
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
}

.slider-container .action-buttons .up-button {
  transform: translateY(-100%);
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
}

#first {
  /* background-image: url(https://images.unsplash.com/photo-1508768787810-6adc1f613514?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=e27f6661df21ed17ab5355b28af8df4e&auto=format&fit=crop&w=1350&q=80); */
  /* background-image: url(https://exeeland.com/echewuwa/2020/09/managed_services.jpg); */
  background-image: url(https://s3-us-west-2.amazonaws.com/alexvalassidis.com/service.jpeg);
}

#second {
  background-image: url(https://static.independent.co.uk/2021/05/28/09/IndyBests%20top%20100%20products-1.jpg?width=982&height=726&auto=webp&quality=75);
  /* background-image: url('../../assets/back.png'); */
}


.icon1 {
  margin-left:-3rem;
  margin-right: -1.8rem;
  margin-top: -1rem;
}

.slider-p1 {
 padding-left: 0rem;
 
}
.slider-p2 {
  padding-left: 3rem;
 }

/* .slider-p3 {
  margin-left:7rem;
} */