.sevice-con{
  margin-top: 8rem;
  margin-left: 3rem;
  margin-right: 3rem;
  margin-bottom: -10rem;
}

.remove {
  color: red;
  font-size: 20px;
  width: 100%;
  text-align: center;
  background-color: transparent;
  border:none;
  cursor: pointer;
}
.remove:hover,
.remove:active,
.remove:focus {
  outline-color: transparent;
  font-weight: bold;
  color: orange;
  text-decoration: none;
}

.serPro-save{
  background-color: #0275d8;
  color: #fff;
  height: 2rem;
  width: 7rem;
  border-radius: 5px;
  border: 0;
}

.serPro-close{
  background-color: #aaa;
  color: #fff;
  height: 2rem;
  width: 5rem;
  border-radius: 5px;
  border: 0;
}