 /* * {
    box-sizing: border-box;
  }
  
  body {
    font: 100% sans-serif;
  }
  
 
  .services1 {
    position: relative;
    width: 100%;
    height: 80vh;
    display: flex;
    flex-direction: row;
    flex: 1;
    flex-wrap: wrap;
    
    background-repeat: no-repeat;
    background-size: contain;
    background-image: url(https://images.unsplash.com/photo-1498049860654-af1a5c566876?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=750&q=80);
    background-size: cover;
    background-position: center;
    margin-top: 5.5rem;
    margin-bottom:-10rem;
  }
  
  .services1 .service1 {
    flex-grow: 1;
    flex-basis: 33%;
    min-width: 200px;
 
    align-items: stretch;
    position: relative;
    text-decoration: none;
    background-color: hsla(0, 0%, 0%, 0.4);
    transition: background-color 0.3s ease-out, padding 0.5s;
 
  }
  
  .services1 .card_label1 {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: flex-end;
    text-align: left;
    padding: 0 0 1.5rem 1.5rem;
    z-index: 2;
    position: relative;
    text-transform: uppercase;
    color: rgba(255, 0, 0, 0.849);
    font-size: 1.25rem;
    letter-spacing: 2px;
    text-shadow: 0 0 3px rgba(0, 0, 0, 0.35);
    box-shadow: 0 0 0 2px hsla(0, 0%, 100%, .5);
 
  }
  
  .services1 .service1:hover {  
    background-color: hsla(0, 0%, 0%, 0.6);
  }
  
  .services1 .card_label1:after {
    content: "  \0203A";  
    position: relative;
    left: 0;
    top: 2px;
    transition: left 0.5s ease-out;
    width: 2rem;
    height: 1rem;
    line-height: 0;
    font-size: 2rem;
    letter-spacing: -4px;
  }
  
  .services1 .service1:hover .card_label1::after,
  .services1 .service1:focus .card_label1::after {
    content: "  \0203A\0203A";
    left: 1rem;
  }
   */

   /*______________________________________________________________________*/

   /* http://colormind.io/
red CC3333
blue 2FAAB3 or 209db3
navy 293443
yellow FDD96A
beige C8D19A
*/

* {
  box-sizing: border-box;
}

body {
  font: 100% sans-serif;
}

/* SERVICES 
-------------------------------------- */
.services1 {
  position: relative;
  width: 100%;
  height: 80vh;
  display: flex;
  flex-direction: row;
  flex: 1;
  flex-wrap: wrap;
  
  background-repeat: no-repeat;
  background-size: contain;
  /* background-image: url(https://images.unsplash.com/photo-1498049860654-af1a5c566876?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=750&q=80); */
  background-size: cover;
  background-position: center;
  margin-top: 5.5rem;
  margin-bottom:10rem;
}

.services1 .service1 {
  flex-grow: 1;
  flex-basis: 33%;
  min-width: 200px;
/*   height: 250px; */
  align-items: stretch;
  position: relative;
  text-decoration: none;
  background-color: hsla(0, 100%, 99%, 0.4);
  transition: background-color 0.3s ease-out, padding 0.5s;

/*   box-shadow: 0 0 0 2px hsla(0, 0%, 100%, 1); */
/*   outline: 2px solid hsla(0, 0%, 100%, .5); */
/*   border: 3px solid hsla(0, 0%, 100%, .5); */
}

.services1 .card_label1 {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: flex-end;
  text-align: left;
  padding: 0 0 1.5rem 1.5rem;
  z-index: 2;
  position: relative;
  /* text-transform: uppercase; */
  color: rgba(255, 0, 0, 0.849);
  font-size: 1.25rem;
  letter-spacing: 2px;
  text-shadow: 0 0 3px rgba(0, 0, 0, 0.35);
  box-shadow: 0 0 0 2px hsla(0, 0%, 100%, .5);

/*   background-color: hsla(0, 0%, 0%, 0.25); */
/*   transition: background-color 0.3s ease-out, padding 0.5s; */
}

/* .services1 .service1:hover {  
  background-color: rgba(255, 0, 0, 0.116);  
   

} */

.services1 .card_label1:after {
  content: "  \0203A"; /*  \027E9 &#8250; &rsaquo; */
  position: relative;
  left: 0;
  top: 2px;
  transition: left 0.5s ease-out;
  width: 2rem;
  height: 1rem;
  line-height: 0;
  font-size: 2rem;
  letter-spacing: -4px;
}

.services1 .service1:hover .card_label1::after,
.services1 .service1:focus .card_label1::after {
  content: "  \0203A\0203A";
  left: 1rem;
}


/*______________________________________________________________________*/

@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Bree+Serif&family=EB+Garamond:ital,wght@0,500;1,800&display=swap');
 
#container {
  
    margin :0px  0px 20px 10px;  
    background-repeat: no-repeat;
}  

.cardpic1{
  position: relative;  
 
	box-shadow: 0 5px 5px -2px rgb(145, 124, 124);
 	 /* background-color:  rgba(128, 128, 128, 0.185); */
	text-align: center;
	border-radius: 5px;
	overflow: hidden;
	/* margin: 0  auto; */
	height: 370px;
 	width: 450px;  
  /* background-image: url(http://royaumeacademy.co.uk/wp-content/uploads/2015/06/translation-globe350.png); 
  opacity: 0.5;*/
  
	background-repeat: no-repeat;
background-size: cover;
  background-position: center;
}
.cardpic1:hover {  
  /* -ms-transform: scale(1.5); /* IE 9 */
  /* -webkit-transform: scale(1.5); /* Safari 3-8 */
  /* transform: scale(1.1);     */
   /* IE 9 */
   opacity: 1;
   transform: translate(25px, 50px);
   background-image: none;
   background-color: yellow;
   z-index: 1;

}


.product-details {
	position: relative;
	text-align: left;
	overflow: hidden;
	padding: 30px;
	height: 100%;
	float: left;
	width: 70%;

}

#container .product-details h1{
	font-family: 'Bebas Neue', cursive;
	display: inline-block;
	position: absolute;
  top: 2;
  left: 5em;
	font-size: 30px;
	color:black;
	margin: 0;
	
}

#container .product-details h1:before{
	position: absolute;
	content: '';
	right: 0%; 
	top: 0%;
	transform: translate(25px, -15px);
	font-family: 'Bree Serif', serif;
	display: inline-block;
	background: #ffe6e6;
	border-radius: 5px;
	font-size: 14px;
	padding: 5px;
	color: white;
	margin: 0;
	animation: chan-sh 6s ease infinite;

}


.hint-star {
	display: inline-block;
	margin-left: 0.5em;
  margin-top: 1.5em;
	color: rgba(255, 217, 0, 0.562);
	width: 70%;
}


#container .product-details > p {
font-family: 'EB Garamond', serif;
	text-align: center;
	font-size: 18px;
	color: #7d7d7d;
	
}
.control{
	position: absolute;
	bottom:0%;
	left: 22.8%;
	
}
.btn {

	transform: translateY(0px);
	transition: 0.3s linear;
	background:  #c0392b;
	border-radius: 5px;
  position: relative;
  overflow: hidden;
	cursor: pointer;
	outline: none;
	border: none;
	color: #eee;
	padding: 0;
	margin :0;
	
}

.btn:hover{transform: translateY(-6px);
	background: #c0392b;}

.btn span {
	font-family: 'Farsan', cursive;
	transition: transform 0.3s;
	display: inline-block;
  padding: 7px 20px;
	font-size: 1.2em;
 
	
}
.btn .price, .shopping-cart{
	background: #333;
	border: 0;
	margin: 0;
  

}

.btn .price {
	transform: translateX(-10%);
   padding-right: 15px;
}

.btn .shopping-cart {
	transform: translateX(-100%);
  position: absolute;
	background: #333;
	z-index: 1;
  left: 0;
  top: 0;
}

.btn .buy {z-index: 3; font-weight: 300;}

.btn:hover .price {transform: translateX(-110%);}

.btn:hover .shopping-cart {transform: translateX(0%);}



/* .product-image {
	transition: all 0.3s ease-out;
	display: inline-block;
	position: relative;
	overflow: hidden;
	height: 100%;
	float: right;
	width: 45%;
	display: inline-block;
}

#container img {width: 100%;height: 100%;} */

 