 /* * {
  box-sizing: border-box;
} */
 
.services {
  position: relative;
  width: 100%;
  height: 80vh;
  display: flex;
  flex-direction: row;
  flex: 1;
  flex-wrap: wrap;
  background-repeat: no-repeat;
  background-size: contain;
  /* background-image: url(https://www.allevaconstruction.com/wp-content/uploads/2018/02/banner-financing.jpg);   */
  background-size: cover;
  background-position: center;
  margin-top: 4.8rem;
  margin-left: 1.5rem;
 padding: 2rem;
}

.services .service1 {
  flex-grow: 1;
  flex-basis: 33%;
  min-width: 200px;
/*   height: 250px; */
  align-items: stretch;
  position: relative;
  text-decoration: none;
  /* background-color: hsla(0, 0%, 0%, 0.4); */
  transition: background-color 0.3s ease-out, padding 0.5s;
  margin-bottom: 2rem;
 
    /* box-shadow: 10 10 3 2px black;    
  outline: 2px solid gray; 
   border: 1px solid rgb(128, 128, 128)   ; */
}
 
 .services .card_label {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: flex-end;
  text-align: left;
  padding: .5em 0 .5em 6rem;
  z-index: 2;
  position: relative;
  /* text-transform: uppercase; */
 color: black;
  font-weight: bold;
  font-size: 1.25rem;
  letter-spacing: 1px;
  text-shadow: 0 0 3px rgba(0, 0, 0, 0.35);
  box-shadow: 0 0 0 2px hsla(0, 0%, 100%, .5);
  text-decoration: none;  
    /* background-color: hsla(0, 0%, 0%, 0.25);  */
    transition: background-color 0.3s ease-out, padding 0.5s; 
 } 
 
 /* .services .service1:hover {  
  background-color: hsla(0, 0%, 0%, 0.6);
}    */

  .services .card_label:after {
  content: " \0203A";        
  position: relative;
  left: 3px;
  top: -1px;
  transition: left 0.5s ease-out;
  width: 2rem;
  height: 1rem;
  line-height: 0;
  font-size: 2rem;
  letter-spacing: 3px;
} 

.services .service1:hover .card_label::after,
.services .service1:focus .card_label::after {
  content: "  \0203A\0203A";
  left: .4rem;
}

/*______________________________________________________*/
 
.flex-container {
	/* background-color: #eee; */
	width: 100vw;	
	height: 100vh;
	justify-content: center;
	align-items: center;
	display: flex;
	flex-flow: row wrap;
	flex-direction: flex-start;
   
}

.product2 {
	position: relative; 
	max-width: 360px;
	margin: 20px;
 border:2px solid rgba(180,180,180,0.4); 
 border-radius: 5px; 
 background-color:#f5f5f5;
	height: auto;
	/* background-color: #fff;
   */
}


/*.product2:hover {	 
	 box-shadow: 0px 15px 11px -10px rgba(0,0,0,0.2);  
   background-color: hsla(0, 0%, 0%, 0.6);   
}*/

.product-title  {
	/* padding: 1em; */
	/* margin: 0; */
  width: 100%;
  height: 100%;
  display: flex;
  align-items: flex-end;
  text-align: left;
  padding: .8rem 0rem .7rem 6rem;
  z-index: 2;
  position: relative;
  /* text-transform: uppercase; */
  color: black;
  font-weight: bolder;
  font-size: 1.25rem;
  letter-spacing: 1px;
  text-shadow: 0 0 3px rgba(0, 0, 0, 0.35);
  box-shadow: 0 0 0 2px hsla(0, 0%, 100%, .5);
  text-decoration: none;
  font-family: 'Open Sans';
  background-color:white;

}

.product-text {
	padding: 0 1em;
  font-size: 16px;
  margin-top: 1rem;
  letter-spacing: 0.1px;
  text-shadow: 0 0 3px rgba(0, 0, 0, 0.35);
  /* height: 4rem; */
}

img {
	margin: 0;
	max-width: 100%;
}

/* button {
	position: relative;
	width: 80%;
	margin: 1em 10%;
	padding: 12px 24px;
 
	color: rgb(255, 255, 255);
	border: none;
} */

  /* button:hover {
   top: -1px; 
  box-shadow: 0px 15px 11px -10px rgba(0,0,0,0.2);  
	cursor: pointer;
} */
   
 
/*___________________________________________________________ */
 
.btn {
	transform: translateY(0px);
	transition: 0.5s linear ;
	background:  #c03a2be0;
	border-radius: 5px;
  position: relative;
  overflow: hidden;
	cursor: pointer;
	outline: none;
	border: none;
  color: #eee;  
	padding: 0;
	margin: 0 19px;
  position: relative;
	width: 80%;
  margin-top: 1rem;
  margin-left: 2rem;
  margin-bottom: 1.5rem;
	/* color: rgb(255, 255, 255); */
	border: none;
}

/* .btn:hover{transform: translateY(-1px);
	background: #c03a2be0;} */

.btn span {
 	transition: transform 0.3s;
	display: inline-block;
  padding: 6px 26px;
	font-size: 1.1em;
	margin:0;
	
}
.btn .price, .shopping-cart{
	background: #333;
	border: 0;
	margin: 0;
}
 

.btn .price {
	transform: translateX(-10%); 
  padding-right: 30px;
}

.btn .shopping-cart {
	transform: translateX(-100%);
  position: absolute;
	background: #333;
	z-index: 1;
  left: 0;
  top: 0;
}
.shopping-cart{color: white;}

.btn .buy {z-index: 3; font-weight: bold;}

 .btn:hover .price {transform: translateX(-110%);}  

.btn:hover .shopping-cart {transform: translateX(0%);}

 