/* @import url('https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css');
@import url('https://fonts.googleapis.com/css?family=Montserrat');
@import url('https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css'); */

.shopping-cart {
  padding-bottom: 50px;
  font-family: 'Montserrat', sans-serif;
  margin-top: 100px;
  
}

.shopping-cart.dark {
  background-color: #fff;
}

.shopping-cart .content {
  box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.075);
  background-color: white;
}

.shopping-cart .block-heading {
  padding-top: 50px;
  margin-bottom: 40px;
  text-align: center;
}

.shopping-cart .block-heading p {
  text-align: center;
  max-width: 420px;
  margin: auto;
  opacity: 0.7;
}

.shopping-cart .dark .block-heading p {
  opacity: 0.8;
}

.shopping-cart .block-heading h1,
.shopping-cart .block-heading h2,
.shopping-cart .block-heading h3 {
  margin-bottom: 1.2rem;
  color: rgb(255 0 0 / 89%);
}

.shopping-cart .items {
  margin: auto;
  margin-right: -30px;

}

.shopping-cart .items .product {
  margin-bottom: 20px;
  padding-top: 20px;
  padding-bottom: 20px;
  border-top: 2px solid rgb(255 0 0 / 89%);

}

.shopping-cart .items .product .info {
  padding-top: 0px;
  text-align: center;
}

.shopping-cart .items .product .info .product-name {
  font-weight: 600;
}

.shopping-cart .items .product .info .product-name .product-info {
  font-size: 14px;
  margin-top: 15px;
}

.shopping-cart .items .product .info .product-name .product-info .value {
  font-weight: 400;
}

.shopping-cart .items .product .info .quantity .quantity-input {
  margin: auto;
  width: 80px;
}

.shopping-cart .items .product .info .price {
  margin-top: 15px;
  font-weight: bold;
  font-size: 22px;
  
}

.shopping-cart .summary {
  border-top: 2px solid rgb(255 0 0 / 89%);
  /* border-right: 2px solid rgb(255 0 0 / 89%); */
  box-shadow: 2px 2px 10px rgb(197, 196, 196);
  background-color: #f7fbff;
  height: 100%;
  padding: 30px;
}

.shopping-cart .summary h3 {
  text-align: center;
  font-size: 1.3em;
  font-weight: 600;
  padding-top: 20px;
  padding-bottom: 20px;
}

.shopping-cart .summary .summary-item:not(:last-of-type) {
  padding-bottom: 10px;
  padding-top: 10px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}

.shopping-cart .summary .text {
  font-size: 1em;
  font-weight: 600;
}

.shopping-cart .summary .price {
  font-size: 1em;
  float: right;
}

.shopping-cart .summary button {
  margin-top: 20px;
}

@media (min-width: 768px) {
  .shopping-cart .items .product .info {
    padding-top: 25px;
    text-align: left;
  }

  .shopping-cart .items .product .info .price {
    font-weight: bold;
    font-size: 22px;
    top: 17px;
  }

  .shopping-cart .items .product .info .quantity {
    text-align: center;
  }
  .shopping-cart .items .product .info .quantity .quantity-input {
    padding: 4px 10px;
    text-align: center;
  }
}

#root
  > section.shopping-cart.dark
  > div
  > div
  > div
  > div.col-md-12.col-lg-4
  > div
  > button {
 
  box-sizing: border-box;
  margin: 0;
  font-family: inherit;
  overflow: visible;
  text-transform: none;
  text-decoration: none;
  font-weight: 400;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  user-select: none;
  border: 1px solid transparent;
  transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out,
    border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
  color: #fff;
  background-color: rgb(255 0 0 / 89%);
  border-color: rgb(255 0 0 / 89%);
  padding: 0.5rem 1rem;
  font-size: 1.25rem;
  line-height: 1.5;
  border-radius: 0.3rem;
  display: block;
  width: 100%;
  -webkit-appearance: button;
  margin-top: 20px;
  cursor: pointer;
}

#root
  > section.shopping-cart.dark
  > div
  > div
  > div
  > div.col-md-12.col-lg-8
  > div
  > div:nth-child(1)
  > div
  > div.col-md-8
  > div
  > div
  > div.col-md-5.product-name
  > div
  > a {
  
  font-weight: 600;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: rgb(255 0 0 / 89%);
  text-decoration: none;
  background-color: transparent;
}

#root
  > section.shopping-cart.dark
  > div
  > div
  > div
  > div.col-md-12.col-lg-8
  > div
  > div:nth-child(1)
  > div
  > div.col-md-3
  > img {
  
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  vertical-align: middle;
  border-style: none;
  max-width: 80%;
  height: auto;
  display: block !important;
  margin-right: auto !important;
  margin-left: auto !important;
}

#root > section.shopping-cart.dark > div > div > div > div.col-md-12.col-lg-8 {
  color: black;
}

#root
  > section.shopping-cart.dark
  > div
  > div
  > div
  > div.col-md-12.col-lg-4
  > div {
  color: black;
}
