@import url('https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css');
:root {
  --df_color: rgba(255, 0, 0, 0.699);
}

/* * {
  margin: 0;
  box-sizing: border-box;
} */

.footer-body {
  padding: 60px 0;
  padding-bottom: 1.1rem;
  /* position: relative; */
  /* bottom: 0; */
  width: 100%;
  margin-top: 20rem;
}

section .section-title {
  text-align: center;
  margin-bottom: 50px;
  text-transform: uppercase;
}
#footer {
  background: rgba(0, 0, 0, 0.952) !important;
}
#footer h5 {
  padding-left: 10px;
  padding-right: 1px;
  /* height: 300px  ; */
  padding-bottom: 6px;
  margin-bottom: 20px;
  color: var(--df_color);
}

.footer-h5 {
  border-left: 3px solid rgba(255, 0, 0, 0.699);
  border-right: 3px solid rgba(255, 0, 0, 0.699);
}

#footer a {
  color: var(--df_color);
  text-decoration: none !important;
  background-color: transparent;
  -webkit-text-decoration-skip: objects;
}
#footer ul.social li {
  padding: 3px 0;
}

/* #footer ul {
background-color:rgba(245, 222, 179, 0.356);
display: flex;
} */

#footer ul.social li a i {
  margin-right: 5px;
  font-size: 25px;
  -webkit-transition: 0.5s all ease;
  -moz-transition: 0.5s all ease;
  transition: 0.5s all ease;
}
#footer ul.social li:hover a i {
  font-size: 30px;
  margin-top: -10px;
}
#footer ul.social li a,
#footer ul.quick-links li a {
  color: #ffffff;
  margin-left: 0;
}
#footer ul.social li a:hover {
  color: #eeeeee;
  margin-right: 20 px;
}
#footer ul.quick-links li {
  padding: 3px 0;
  -webkit-transition: 0.5s all ease;
  -moz-transition: 0.5s all ease;
  transition: 0.5s all ease;
}
#footer ul.quick-links li:hover {
  padding: 3px 0;
  margin-left: 5px;
  font-weight: 700;
}
#footer ul.quick-links li a i {
  margin-right: 5px;
}
#footer ul.quick-links li:hover a i {
  font-weight: 700;
}

@media (max-width: 767px) {
  #footer h5 {
    padding-left: 0;
    border-left: transparent;
    padding-bottom: 0px;
    margin-bottom: 10px;
  }
}

.identation {
  margin-left: -1rem;
}
.identation1 {
  margin-left: -2rem;
}
.identation2 {
  margin-left: 1rem;
}
 
.identation-s{
  margin-left: .009rem;
}
.myColor {
  color: black !important;
}
